header {
	background: #001D24;
	border-bottom: solid 5px #001D24;
	width: 100%;
}

.app-body {
	background: url('../img/background.jpg');
	margin-top: -10px;
	background-size: 100%;
	padding-bottom: 100%;
	background-position: absolute;
	height: 600px;
}

#settings {
	float: right;
}

#profile-pic {
	display: block;
	border-radius: 100%;
	clear:both;
	margin: 10px;
}

#profile-pic img {
	margin-top: 10px;
}

.info {
	float: center;
	margin: 0 auto;
	font-size: 20px;

}

#major {
	float: center;
}

.info p {
	font-weight: bold;
	color: #000
}

.nav {
	text-align: center;
}

.nav p {
	margin: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 50px;
	font-family: 'Dosis', sans-serif;
}

#notifications {
	background: #009393;
	color: #003333;
	font-size: 2em;
}

.major {
	font-size: 15px;
	margin-right: 40px;
	margin-top: -10px;
}

#logo {
	margin: 5px;
}

#settings {
	margin: 15px;
}

#find {
	background: #66FF66;
	font-size: 2em;
}

#add {
	background: #00CCCC;
	font-size: 2em;
}

/*.nav p img {
	float: left;
	margin: -10px;
}*/

#find img {
	height: 2em;
	width: 2em;
	float: left;
	margin: -10px;
}

#notifications img {
	height: 2em;
	width: 2em;
	float: left;
	margin: -10px;
}

#add img {
	height: 2em;
	width: 2em;
	float: left;
	margin: -10px;
}
