
a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

li {
	list-style: none;
}

header {
	background: #001D24;
	border-bottom: solid 5px #001D24;
	width: 100%;
}

.app-body {
	background: url('../img/background.jpg');
	margin-top: -10px;
	background-size: 100%;
	padding-bottom: 100%;
	background-position: absolute;
	height: 600px;
}

#settings {
	float: right;
}

#profile-pic {
	display: block;
	border-radius: 100%;
	clear:both;
	margin: 10px;
	box-shadow: 2px 2px 2px #333;
}

#profile-pic img {
	margin-top: 10px;
}

.info {
	float: center;
	margin: 0 auto;
	font-size: 20px;

}

#major {
	float: center;
}

.info p {
	font-weight: bold;
	color: #fff
}

.nav {
	text-align: center;
}

.nav a p {
	margin: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 50px;
	font-family: 'Dosis', sans-serif;
}

#notifications {
	background: #009393;
	color: #003333;
	font-size: 2em;
	box-shadow: 3px 3px 2px #004A4A;
}

.major {
	font-size: 15px;
	margin-right: 40px;
	margin-top: -10px;
}

#logo {
	margin: 5px;
}

#settings {
	margin: 15px;
}

#find {
	background: #68b12f;
	color: #003333;
	font-size: 2em;
	box-shadow: 3px 3px 2px #3D991F
}

#add {
	background: #00CCCC;
	color: #003333;
	font-size: 2em;
	box-shadow: 3px 3px 2px #007A7A
}

/*.nav p img {
	float: left;
	margin: -10px;
}*/

#find img {
	height: 2em;
	width: 2em;
	float: left;
	margin: -10px;
}

#notifications img {
	height: 2em;
	width: 2em;
	float: left;
	margin: -10px;
}

#add img {
	height: 2em;
	width: 2em;
	float: left;
	margin: -10px;
}

.nav a:active #add {
	 background: #007A7A;
}

.nav a:active #notifications {
	background: #004A4A;
}

.nav a:active #find {
	background: #3D991F;
}

/**************************************
				ADD
**************************************/

.book_form h2 {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 50px;
	font-family: 'Dosis', sans-serif;
	border: solid 5px #B8BCBC;
	color: #B8BCBC;
	text-align: center;
}

/*input {
	float: right;
}

textarea {
	float: right;
}*/

.book_form {
	font-family: "Dosis", sans-serif;
}

.book_form ul {
	width: 100%;
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}

.book_form li {
	padding: 12px;
	border-bottom: 1px solid #eee;
	position: relative;
}

.book_form li:first-child {
	border-top: 1px solid #777;
}

.book_form li:last-child {
	border-bottom: 1px solid #777
}

.col-xs-8 {
	margin: 0;
	display: inline;
}

.required_notification {
	color: #d45252;
	margin:5px 0 0 0;
	display: inline;
}

.book_form label {
	width: 100px;
	margin-top: 3px;
	display: inline-block;
	float: left;
	padding: 3px;
}

.book_form input {
	height: 20px;
	width: 60%;
	padding: 5px 8px;
}

.book_form textarea {
	padding: 8px;
	width: 60%;
}

.book_form a {
	margin-left: 100px;
}

.book_form input, .book_form textarea { 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    padding-right: 30px;
}

.book_form input:focus, .book_form textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
}

a.submit {
    background-color: #68b12f;
    border-radius: 3px;
    color:white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
}

a.submit:active {
    background-color:#356b0b;
     
}

.col-xs-8 a:active h2 {
	background: #D4D7D7;
}

input:required, textarea:required {
    background: #fff url("../img/required.png") no-repeat 98% center;
}

/***************************************
	Results
***************************************/

.search-results div{
	float: left;
	padding-top: 2%;
	padding-bottom: 2%;
}

.search-results div img {
	max-width: 125px;
	position: relative;
	margin-right: 10px;
}

#result_0 {
	width: 100%;
	border-bottom: 1px solid #777;
}

#result_1 {
	width: 100%;
	border-bottom: 1px solid #777;
}

#result_2 {
	width: 100%;
	border-bottom: 1px solid #777;
}

#result_3 {
	width: 100%;
	border-bottom: 1px solid #777;
}

#result_4 {
	width: 100%;
	border-bottom: 1px solid #777;
}

#result_5 {
	width: 100%;
	border-bottom: 1px solid #777;
}

.search-results {
	font-family: 'Dosis', sans-serif;
}

.search-results h3 {
	border-bottom: 1px solid #777;
	padding-bottom: 10px
}

.search-results a, .search-results a:hover {
	color: #478FB2;
}

.search-results a:active {
	color: #152B35;
}